.preview__bottom {
  height: 50vh;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .6;
  box-shadow: 0 1px 8px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);
  text-decoration: none;
  color: white;
}

.preview__bottom:hover {
  opacity: 1;
  background-color: #624AD8;
}